<div class="container__quiz">
    <div class="quiz_logo">
        <img
            src="https://github.com/wastecoder/angular-buzzfeed-quiz/blob/main/src/assets/imgs/logo.png?raw=true"
            alt=""
        >
        <h3>
            Título
        </h3>
    </div>

    <div class="quiz_questions">
        <h3>
            Questão Selecionada
        </h3>
    </div>

    <div class="quiz_options">
        <button class="btn-option">
            Option name
        </button>
    </div>

    <div class="quiz_results">
        <h1>
            O seu resultado é:
        </h1>
        <p>
            Resposta Selecionada
        </p>
    </div>
</div>
