<div class="container__quiz">
    <div class="quiz_logo">
        <img
            src="https://github.com/wastecoder/angular-buzzfeed-quiz/blob/main/src/assets/imgs/logo.png?raw=true"
            alt=""
        >
        <h3>
            {{ title }}
        </h3>
    </div>

    <div class="quiz_questions" *ngIf="!finished">
        <h3>
            {{ questionSelected.question }}
        </h3>
    </div>

    <div class="quiz_options" *ngIf="!finished">
        <button
            *ngFor="let option of questionSelected.options; let i = index"
            (click)="playerChoose(option.alias)"
            class="btn-option"
        >
            {{ option.name }}
        </button>
    </div>

    <div class="quiz_results" *ngIf="finished">
        <h1>
            O seu resultado é:
        </h1>
        <p>
            {{ answerSelected }}
        </p>
    </div>
</div>
